*.class
*.log
target/

.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.idea/
*.iml
*.iws
*.ipr
.idea_modules/

.vscode/

.DS_Store
Thumbs.db

# Metals specific
.metals/
.metals/metals.mv.db
.metals/metals.h2.db
.metals/.reports/
.bloop/